form {
    padding-top: 15%;
    margin: 0;
    display: grid;
    place-items: center;
}

.btn-1 {
    background-color: rgb(185, 248, 241);
    margin-top: 5px;
    margin-bottom: 5px;
    height: 45px;
    width: 330px;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.input-1 {
    height: 50px;
    width: 330px;
    font-size: 25px;
    font-family: Arial;
}

.input-1::placeholder {
    color: rgb(195, 193, 193);
}

.input-invalid {
    height: 50px;
    width: 330px;
    font-size: 25px;
    font-family: Arial;
    border-color: rgb(255, 76, 76);
}

.input-invalid::placeholder {
    color: rgb(220, 53, 69);
}